<div id="wieContent">
    <form action="javascript:;" id="wieForm">
        <!-- Friendship invitiation -->
        <div class="cl-form">
            <div class="cl-bar">
                <p class="cl-bar-text">Mijn vrienden</p>
            </div>
            <div id="friendsList" class="cl-table">
                    
            </div>
        </div>

        <div class="cl-bar-footer">
            <a href="#" class="cl-btn cl-btn-icon-only"><i class="icon icon-app-add"></i></a>
            <input type="submit" class="cl-btn align-center" value="Activiteit aanmaken"/>
            <a href="#" class="cl-btn cl-btn-icon-only align-right"><i class="icon icon-app-list"></i></a>
        </div>
    </form>
</div>