<div class="cl-table-cell">
<a href="#activity/<%= activity_id %>">
    <span class="label"><h3><%= title %></h3>
        <ul class="planner-info">
            <li>
                <i class="entypo-icon">&#128340;</i>
                <%= date %> <%= time %>
            </li>
            <li>
                <i class="entypo-icon">&#59172;</i>
                <%= location %>
            </li>
            <li>
                <%= sport_title %>
            </li>
        </ul>
    </span>
</a>
</div>
