/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* apply a natural box layout model to all elements */
/* line 6, ../../../../Development/dev/sass/application.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* line 11, ../../../../Development/dev/sass/application.scss */
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #E4E4E4;
  background-image: linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -webkit-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -ms-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a7a7a7), color-stop(0.51, #e4e4e4));
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* line 36, ../../../../Development/dev/sass/application.scss */
form .cl-btn {
  width: 100% !important;
}

/**
 * Styles to fix the new iOS 7 transparent status bar
 */
/* line 44, ../../../../Development/dev/sass/application.scss */
#ios7statusbar {
  width: 100%;
  height: 20px;
  background-color: white;
  position: fixed;
  z-index: 10000;
}

/* line 51, ../../../../Development/dev/sass/application.scss */
.ios7 .ui-page, .ios7 .ui-header, .ios7 .ui-pane {
  margin-top: 20px;
}

/* line 56, ../../../../Development/dev/sass/application.scss */
#activity-header {
  height: 200px;
  width: 100%;
  position: relative;
}

/* line 62, ../../../../Development/dev/sass/application.scss */
#activityMap, #map {
  height: 200px;
  width: 100%;
}

/* line 67, ../../../../Development/dev/sass/application.scss */
#activityInfo {
  height: 40px;
  width: 100%;
  background: rgba(55, 55, 55, 0.9);
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 0 5px;
}

/* line 77, ../../../../Development/dev/sass/application.scss */
#activityInfo span {
  float: left;
}

/* line 81, ../../../../Development/dev/sass/application.scss */
#activityInfo #navigateButton {
  padding: 10px;
  margin-top: 2px;
}

/* line 86, ../../../../Development/dev/sass/application.scss */
#activityTable .cl-table-cell h3, #profileTable .cl-table-cell h3 {
  margin: 5px 0;
}

/* line 90, ../../../../Development/dev/sass/application.scss */
#activityTable .cl-table-cell ul, #profileTable .cl-table-cell ul {
  padding-left: 0;
  margin: 0;
}

/* line 95, ../../../../Development/dev/sass/application.scss */
#activityTable .cl-table-cell ul li, #profileTable .cl-table-cell ul li {
  display: inline-block;
  background: #bfbfbf;
  padding: 1px 4px;
  font-size: 12px;
  margin-bottom: 1px;
}

/* line 103, ../../../../Development/dev/sass/application.scss */
#activityTable .cl-table-cell {
  margin-top: 0px;
}

/* line 107, ../../../../Development/dev/sass/application.scss */
#activityTable .cl-table-cell ul li .entypo-icon, #profileTable .cl-table-cell ul li .entypo-icon {
  font-size: 22px;
}

/* line 111, ../../../../Development/dev/sass/application.scss */
#sortBar p, #searchBar p {
  float: left;
}

/* line 115, ../../../../Development/dev/sass/application.scss */
#searchBar {
  padding: 10px;
  height: auto;
  background: #757575 !important;
}

/* line 120, ../../../../Development/dev/sass/application.scss */
#searchForm input[type=search] {
  border: 0;
  width: 100%;
  border-radius: 0;
  padding: .8em .6em .8em .6em;
  font-size: 1em;
  border: 0;
  display: block;
  height: 2.5em;
}

/* line 132, ../../../../Development/dev/sass/application.scss */
#sortBar select {
  width: 170px;
  margin-top: 12px;
}

/* line 137, ../../../../Development/dev/sass/application.scss */
.entypo-icon {
  font-size: 3em;
  font-family: 'EntypoRegular';
  font-style: inherit;
}

/* ios specific */
/* line 147, ../../../../Development/dev/sass/application.scss */
.cl-bar-title a {
  display: inline-block;
}

/* line 151, ../../../../Development/dev/sass/application.scss */
.cl-bar-title > .cl-title + .btn, .cl-modal .cl-modal-bar-title > .cl-title + .btn, .cl-modal .cl-modal-bar-title .cl-bar-title > .cl-modal-title + .btn, .cl-modal .cl-modal-bar-title > .cl-modal-title + .btn, .cl-bar-title > .cl-btn:last-child, .cl-modal .cl-modal-bar-title > .cl-btn:last-child, .cl-bar-footer > .cl-title + .btn, .cl-modal .cl-modal-bar-title .cl-bar-footer > .cl-modal-title + .btn, .cl-bar-footer > .cl-btn:last-child, .cl-bar > .cl-title + .btn, .cl-modal .cl-modal-bar-title .cl-bar > .cl-modal-title + .btn, .cl-bar > .cl-btn:last-child {
  top: 20px;
}

/* line 155, ../../../../Development/dev/sass/application.scss */
.cl-bar-title > .cl-btn, .cl-modal .cl-modal-bar-title > .cl-btn, .cl-bar-footer > .cl-btn, .cl-bar > .cl-btn {
  top: 20px;
}

/* line 161, ../../../../Development/dev/sass/application.scss */
#navigateButton {
  display: inline-block;
  background: #fff;
  float: right;
}

/* line 167, ../../../../Development/dev/sass/application.scss */
#activityContent {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 172, ../../../../Development/dev/sass/application.scss */
#activityContent h4 {
  display: inline-block;
  width: 80px;
}

/* line 181, ../../../../Development/dev/sass/application.scss */
#createActivity .cl-btn-toolbar .cl-btn,
#activityDetail .cl-btn-toolbar .cl-btn,
#activityDetail .cl-btn-toolbar.flex .cl-btn:nth-child(2):not(:last-child),
#profile .cl-btn-toolbar .cl-btn,
#navigationView .cl-btn-toolbar .cl-btn {
  border-radius: 0;
  margin-right: 0;
  padding: 5px 0;
  margin: 0;
}

/* line 188, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-btn-toolbar .cl-btn.active, #navigationTabs .cl-btn-toolbar .cl-btn.active {
  background: #eeeeee;
  color: #000000;
}

/* line 193, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-btn-toolbar.flex {
  padding: 0;
}

/* line 197, ../../../../Development/dev/sass/application.scss */
#activityDetail hr {
  background-color: #fff;
  border: #000 1px dotted;
  border-style: none none dotted;
  color: #fff;
}

/* line 204, ../../../../Development/dev/sass/application.scss */
#praktischContent ul {
  display: inline-block;
  padding-left: 0;
}

/* line 209, ../../../../Development/dev/sass/application.scss */
#praktischContent ul li {
  display: inline-block;
}

/* line 213, ../../../../Development/dev/sass/application.scss */
#praktischContent ul li {
  border: 1px solid #5b5b5b;
  padding: 5px;
}

/* line 218, ../../../../Development/dev/sass/application.scss */
#activityDetailTabs {
  margin-bottom: 10px;
}

/* line 222, ../../../../Development/dev/sass/application.scss */
#availibleBar .cl-btn {
  background: #c68436;
}

/* line 226, ../../../../Development/dev/sass/application.scss */
#availibleBar .cl-btn:first-child {
  background: #af7633;
}

/* line 230, ../../../../Development/dev/sass/application.scss */
#createActivityTabs, #navigationTabs {
  margin: 0;
  padding: 0;
}

/* line 235, ../../../../Development/dev/sass/application.scss */
#createActivityTabs .active, #profileTabs .active, #navigationTabs .active {
  background: #eeeeee;
  color: #000000;
}

/* line 240, ../../../../Development/dev/sass/application.scss */
#profile .cl-btn-toolbar.flex {
  padding: 0;
}

/* line 244, ../../../../Development/dev/sass/application.scss */
#addMediaButton {
  width: 100%;
}

/* line 248, ../../../../Development/dev/sass/application.scss */
#smallImage {
  max-width: 100%;
}

/* line 252, ../../../../Development/dev/sass/application.scss */
#map_canvas, #googleMap {
  width: 100%;
  height: 100%;
  display: block;
}

/* Create new user page */
/* line 263, ../../../../Development/dev/sass/application.scss */
#createUserForm label.error, #loginForm label.error, #watForm label.error {
  background: red;
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  color: #fff;
}

/* line 272, ../../../../Development/dev/sass/application.scss */
#createUserForm input.error, #loginForm input.error {
  margin-bottom: 0;
}

/* Login page */
/* line 278, ../../../../Development/dev/sass/application.scss */
.error-box {
  background: #e54c2e;
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  color: #fff;
}

/* line 287, ../../../../Development/dev/sass/application.scss */
.error-box.hide {
  display: none;
}

/* line 290, ../../../../Development/dev/sass/application.scss */
.error-box.show {
  display: block;
}

/* line 295, ../../../../Development/dev/sass/application.scss */
#FBloginButton {
  margin-bottom: 10px;
}

/**
* Pageslider
*/
/* line 302, ../../../../Development/dev/sass/application.scss */
#container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 309, ../../../../Development/dev/sass/application.scss */
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 319, ../../../../Development/dev/sass/application.scss */
.page.page-left {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 324, ../../../../Development/dev/sass/application.scss */
.page.page-center {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 329, ../../../../Development/dev/sass/application.scss */
.page.page-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/* line 334, ../../../../Development/dev/sass/application.scss */
.page.transition {
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}

/**
* Backbone autocomplete
*/
/* line 343, ../../../../Development/dev/sass/application.scss */
ul.autocomplete {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  margin: 0;
  padding: 3px 0;
  width: 100% !important;
  z-index: 1000;
}

/* line 353, ../../../../Development/dev/sass/application.scss */
ul.autocomplete li {
  list-style: none;
  margin: 0;
  padding: 5px 7px;
}

/* line 359, ../../../../Development/dev/sass/application.scss */
ul.autocomplete li.active, ul.autocomplete li:hover {
  cursor: pointer;
  background-color: #d3d3d3;
}

/* line 364, ../../../../Development/dev/sass/application.scss */
ul.autocomplete li a {
  color: #3d3d3d;
  text-decoration: none;
}

/* line 371, ../../../../Development/dev/sass/application.scss */
#loading {
  background: #258dc8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #258dc8 0%, #258dc8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #258dc8), color-stop(100%, #258dc8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #258dc8 0%, #258dc8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #258dc8 0%, #258dc8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #258dc8 0%, #258dc8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #258dc8 0%, #258dc8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 );
  /* IE6-9 */
  display: table;
}

/* line 383, ../../../../Development/dev/sass/application.scss */
#loading h2 {
  display: table-cell;
  text-align: center;
  color: #fff;
  height: 100%;
  vertical-align: middle;
  font-size: 2em;
}

/* line 392, ../../../../Development/dev/sass/application.scss */
#loading h2 small {
  font-size: 0.6em;
}

/* line 396, ../../../../Development/dev/sass/application.scss */
.align-center {
  text-align: center;
}

/* line 402, ../../../../Development/dev/sass/application.scss */
.field > span {
  display: block;
  overflow: hidden;
  padding-right: 10px;
}

/* line 407, ../../../../Development/dev/sass/application.scss */
.field input[type=text] {
  width: 100%;
}

/* line 410, ../../../../Development/dev/sass/application.scss */
.field input[type=button] {
  float: right;
}

/* line 414, ../../../../Development/dev/sass/application.scss */
.message {
  margin: 0 0 15px 0;
}
/* line 418, ../../../../Development/dev/sass/application.scss */
.message .messageHeader {
  display: block;
}
/* line 422, ../../../../Development/dev/sass/application.scss */
.message .messageHeader img, .message .messageHeader h3 {
  float: left;
}
/* line 426, ../../../../Development/dev/sass/application.scss */
.message .messageHeader h3 {
  font-size: 1.2em;
}
/* line 430, ../../../../Development/dev/sass/application.scss */
.message .messageHeader img {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 439, ../../../../Development/dev/sass/application.scss */
.message .messageBody {
  clear: both;
}

/* line 447, ../../../../Development/dev/sass/application.scss */
#challengeView .badge_img {
  float: left;
  display: inline-block;
  margin-right: 5px;
}
/* line 453, ../../../../Development/dev/sass/application.scss */
#challengeView .cl-table-cell {
  padding: 10px 5px;
}
/* line 456, ../../../../Development/dev/sass/application.scss */
#challengeView .cl-table-cell a {
  min-height: 20px;
  vertical-align: center;
}
/* line 462, ../../../../Development/dev/sass/application.scss */
#challengeView .cl-btn {
  display: inline-block;
  width: auto;
  float: right;
  position: absolute;
  right: 5px;
  top: 5px;
}
/* line 471, ../../../../Development/dev/sass/application.scss */
#challengeView h3 {
  display: inline-block;
  font-size: 1.3em;
  margin-bottom: 5px;
}
/* line 477, ../../../../Development/dev/sass/application.scss */
#challengeView #progressContainer {
  width: 100%;
  display: block;
  padding: 10px 0;
}
/* line 482, ../../../../Development/dev/sass/application.scss */
#challengeView #progressContainer progress {
  width: 100%;
}
/* line 488, ../../../../Development/dev/sass/application.scss */
#challengeView #badgesOverview .cl-table-cell {
  width: auto;
  float: left;
}
/* line 492, ../../../../Development/dev/sass/application.scss */
#challengeView #badgesOverview .cl-table-cell .badge_img {
  float: left;
  display: inline-block;
}

/* line 502, ../../../../Development/dev/sass/application.scss */
#friendsListView div {
  float: left;
}
/* line 506, ../../../../Development/dev/sass/application.scss */
#friendsListView div, #friendsListView .friendsBox {
  display: inline-block;
}

/* Page specific */
/* line 515, ../../../../Development/dev/sass/application.scss */
#dashboard #sortBar {
  background: #8d7069;
}
/* line 519, ../../../../Development/dev/sass/application.scss */
#dashboard #map_canvas {
  height: 140px;
}

/* line 525, ../../../../Development/dev/sass/application.scss */
#waarContent #map_canvas {
  height: 400px;
}

/* line 532, ../../../../Development/dev/sass/application.scss */
#navigationView #map_canvas {
  height: 50%;
}
/* line 536, ../../../../Development/dev/sass/application.scss */
#navigationView #directions {
  height: 50%;
}

/* line 541, ../../../../Development/dev/sass/application.scss */
#favouriteSportList {
  display: table;
}
/* line 544, ../../../../Development/dev/sass/application.scss */
#favouriteSportList div {
  float: left;
  display: table-cell;
  vertical-align: middle;
}
/* line 549, ../../../../Development/dev/sass/application.scss */
#favouriteSportList div a {
  min-width: 70px;
  min-height: 70px;
  background: #d2d2d2;
  margin: 10px;
  padding: 5px;
  float: left;
  text-align: center;
  font-size: 12px;
}
/* line 560, ../../../../Development/dev/sass/application.scss */
#favouriteSportList div a.selected {
  background: #fff;
}

/* line 567, ../../../../Development/dev/sass/application.scss */
#favouriteSportsSelector #confirm {
  top: 0;
}
/* line 571, ../../../../Development/dev/sass/application.scss */
#favouriteSportsSelector ul.autocomplete {
  position: absolute;
}

/* line 578, ../../../../Development/dev/sass/application.scss */
#aanwezigContent div {
  float: left;
  margin-right: 5px;
}
/* line 583, ../../../../Development/dev/sass/application.scss */
#aanwezigContent .user_avatar {
  float: left;
  display: inline-block;
}
/* line 588, ../../../../Development/dev/sass/application.scss */
#aanwezigContent .user_avatar img {
  min-width: 50px;
  max-height: 50px;
}

/* line 598, ../../../../Development/dev/sass/application.scss */
#myInvitationsTable .cl-table-cell {
  padding: 10px 0;
}
/* line 602, ../../../../Development/dev/sass/application.scss */
#myInvitationsTable .cl-table-cell a {
  display: inline-block;
}
/* line 606, ../../../../Development/dev/sass/application.scss */
#myInvitationsTable .cl-btn-group.float {
  display: inline-block;
  float: right;
}

/* line 612, ../../../../Development/dev/sass/application.scss */
.planner-info {
  display: inline-block;
  float: right;
}
/* line 616, ../../../../Development/dev/sass/application.scss */
.planner-info li {
  font-size: 12px;
  float: left;
  display: inline-block;
  background: #f2f2f2;
}

/* line 624, ../../../../Development/dev/sass/application.scss */
#userAvatar, .friend-avatar {
  max-width: 160px;
  max-height: 160px;
}

/*
* Final styling 
*/
/* line 636, ../../../../Development/dev/sass/application.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 640, ../../../../Development/dev/sass/application.scss */
input.error {
  border: 1px solid #e54c2e !important;
}

/**
* HOME and CREATEUSER page
*/
/* line 648, ../../../../Development/dev/sass/application.scss */
#home, #createUser {
  background: #303d4d url("../../common/img/home_background.png") bottom left;
  repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
/* line 657, ../../../../Development/dev/sass/application.scss */
#home .cl-content, #createUser .cl-content {
  background: none;
  height: auto;
  position: absolute;
  bottom: 10px;
  width: 100%;
  overflow: auto;
}
/* line 665, ../../../../Development/dev/sass/application.scss */
#home .cl-content h4, #createUser .cl-content h4 {
  color: #fff;
}
/* line 669, ../../../../Development/dev/sass/application.scss */
#home .cl-content #home_logo, #createUser .cl-content #home_logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* line 675, ../../../../Development/dev/sass/application.scss */
#home .cl-content input[type=email], #home .cl-content input[type=password], #home .cl-content input[type=text], #createUser .cl-content input[type=email], #createUser .cl-content input[type=password], #createUser .cl-content input[type=text] {
  background: none;
  border: none;
  border-bottom: 1px solid #a19d97;
  color: #fff;
  padding: 20px 0 20px 10px;
  font-size: 1.3em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  outline: none;
}
/* line 686, ../../../../Development/dev/sass/application.scss */
#home .cl-content .cl-btn, #home .cl-content .cl-btn-primary, #createUser .cl-content .cl-btn, #createUser .cl-content .cl-btn-primary {
  border-radius: 3px;
  padding: 7px 0;
}
/* line 691, ../../../../Development/dev/sass/application.scss */
#home .cl-content #FBloginButton.cl-btn-primary, #createUser .cl-content #FBloginButton.cl-btn-primary {
  background: #4674de;
}
/* line 695, ../../../../Development/dev/sass/application.scss */
#home .cl-content .cl-btn, #createUser .cl-content .cl-btn {
  background: #23cddd;
}

/* line 703, ../../../../Development/dev/sass/application.scss */
#createUser .cl-content {
  position: relative;
}
/* line 707, ../../../../Development/dev/sass/application.scss */
#createUser .cl-message {
  padding: 10px;
  background-color: #dbd4c7;
  line-height: 1.6em;
}
