/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* apply a natural box layout model to all elements */
/* line 6, ../../../../Development/dev/sass/application.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* line 11, ../../../../Development/dev/sass/application.scss */
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #E4E4E4;
  background-image: linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -webkit-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -ms-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a7a7a7), color-stop(0.51, #e4e4e4));
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* Error box */
/* line 36, ../../../../Development/dev/sass/application.scss */
label.error {
  background: #da5555;
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  color: #fff;
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  position: relative;
}

/* line 49, ../../../../Development/dev/sass/application.scss */
label.error:after {
  bottom: 100%;
  left: 36px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #da5555;
  border-width: 7px;
  margin-left: -25px;
}

/* line 64, ../../../../Development/dev/sass/application.scss */
form .cl-btn {
  width: 100% !important;
}

/* line 68, ../../../../Development/dev/sass/application.scss */
#activity-header {
  height: 200px;
  width: 100%;
  position: relative;
}

/* line 74, ../../../../Development/dev/sass/application.scss */
#activityMap, #map {
  height: 200px;
  width: 100%;
}

/* line 79, ../../../../Development/dev/sass/application.scss */
#activityInfo {
  height: 40px;
  width: 100%;
  background: rgba(55, 55, 55, 0.9);
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 0 5px;
}

/* line 89, ../../../../Development/dev/sass/application.scss */
#activityInfo span {
  float: left;
}

/* line 93, ../../../../Development/dev/sass/application.scss */
#activityInfo #navigateButton {
  padding: 10px;
  margin-top: 2px;
}

/* line 98, ../../../../Development/dev/sass/application.scss */
#activityTable .cl-table-cell h3, #profileTable .cl-table-cell h3 {
  margin: 5px 0;
}

/* line 102, ../../../../Development/dev/sass/application.scss */
#activityTable .cl-table-cell ul, #profileTable .cl-table-cell ul {
  padding-left: 0;
  margin: 0;
}

/* line 107, ../../../../Development/dev/sass/application.scss */
#activityTable .cl-table-cell ul li, #profileTable .cl-table-cell ul li {
  display: inline-block;
  background: #bfbfbf;
  padding: 1px 4px;
  font-size: 12px;
  margin-bottom: 1px;
}

/* line 115, ../../../../Development/dev/sass/application.scss */
#activityTable .cl-table-cell {
  margin-top: 0px;
}

/* line 119, ../../../../Development/dev/sass/application.scss */
#activityTable .cl-table-cell ul li .entypo-icon, #profileTable .cl-table-cell ul li .entypo-icon {
  font-size: 22px;
}

/* line 123, ../../../../Development/dev/sass/application.scss */
#sortBar p, #searchBar p {
  float: left;
}

/* line 127, ../../../../Development/dev/sass/application.scss */
#searchBar {
  padding: 10px;
  height: auto;
  background: #757575 !important;
}

/* line 132, ../../../../Development/dev/sass/application.scss */
#searchForm input[type=search] {
  border: 0;
  width: 100%;
  border-radius: 0;
  padding: .8em .6em .8em .6em;
  font-size: 1em;
  border: 0;
  display: block;
  height: 2.5em;
}

/* line 144, ../../../../Development/dev/sass/application.scss */
#sortBar select {
  width: 170px;
  margin-top: 12px;
}

/* line 149, ../../../../Development/dev/sass/application.scss */
.entypo-icon {
  font-size: 3em;
  font-family: 'EntypoRegular';
  font-style: inherit;
}

/* ios specific */
/* line 159, ../../../../Development/dev/sass/application.scss */
.cl-bar-title a {
  display: inline-block;
}

/* line 163, ../../../../Development/dev/sass/application.scss */
.cl-bar-title > .cl-title + .btn, .cl-modal .cl-modal-bar-title > .cl-title + .btn, .cl-modal .cl-modal-bar-title .cl-bar-title > .cl-modal-title + .btn, .cl-modal .cl-modal-bar-title > .cl-modal-title + .btn, .cl-bar-title > .cl-btn:last-child, .cl-modal .cl-modal-bar-title > .cl-btn:last-child, .cl-bar-footer > .cl-title + .btn, .cl-modal .cl-modal-bar-title .cl-bar-footer > .cl-modal-title + .btn, .cl-bar-footer > .cl-btn:last-child, .cl-bar > .cl-title + .btn, .cl-modal .cl-modal-bar-title .cl-bar > .cl-modal-title + .btn, .cl-bar > .cl-btn:last-child {
  top: 20px;
}

/* line 167, ../../../../Development/dev/sass/application.scss */
.cl-bar-title > .cl-btn, .cl-modal .cl-modal-bar-title > .cl-btn, .cl-bar-footer > .cl-btn, .cl-bar > .cl-btn {
  top: 20px;
}

/* line 173, ../../../../Development/dev/sass/application.scss */
#navigateButton {
  display: inline-block;
  background: #fff;
  float: right;
}

/* line 179, ../../../../Development/dev/sass/application.scss */
#activityContent {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 184, ../../../../Development/dev/sass/application.scss */
#activityContent h4 {
  display: inline-block;
  width: 80px;
}

/* line 193, ../../../../Development/dev/sass/application.scss */
#createActivity .cl-btn-toolbar .cl-btn,
#activityDetail .cl-btn-toolbar .cl-btn,
#activityDetail .cl-btn-toolbar.flex .cl-btn:nth-child(2):not(:last-child),
#profile .cl-btn-toolbar .cl-btn,
#navigationView .cl-btn-toolbar .cl-btn {
  border-radius: 0;
  margin-right: 0;
  padding: 5px 0;
  margin: 0;
}

/* line 200, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-btn-toolbar .cl-btn.active, #navigationTabs .cl-btn-toolbar .cl-btn.active {
  background: #eeeeee;
  color: #000000;
}

/* line 205, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-btn-toolbar.flex {
  padding: 0;
}

/* line 209, ../../../../Development/dev/sass/application.scss */
#activityDetail hr {
  background-color: #fff;
  border: #000 1px dotted;
  border-style: none none dotted;
  color: #fff;
}

/* line 216, ../../../../Development/dev/sass/application.scss */
#praktischContent ul {
  display: inline-block;
  padding-left: 0;
}

/* line 221, ../../../../Development/dev/sass/application.scss */
#praktischContent ul li {
  display: inline-block;
}

/* line 225, ../../../../Development/dev/sass/application.scss */
#praktischContent ul li {
  border: 1px solid #5b5b5b;
  padding: 5px;
}

/* line 230, ../../../../Development/dev/sass/application.scss */
#activityDetailTabs {
  margin-bottom: 10px;
}

/* line 234, ../../../../Development/dev/sass/application.scss */
#availibleBar .cl-btn {
  background: #c68436;
}

/* line 238, ../../../../Development/dev/sass/application.scss */
#availibleBar .cl-btn:first-child {
  background: #af7633;
}

/* line 242, ../../../../Development/dev/sass/application.scss */
#createActivityTabs, #navigationTabs {
  margin: 0;
  padding: 0;
}

/* line 247, ../../../../Development/dev/sass/application.scss */
#createActivityTabs .active, #profileTabs .active, #navigationTabs .active {
  background: #eeeeee;
  color: #000000;
}

/* line 252, ../../../../Development/dev/sass/application.scss */
#profile .cl-btn-toolbar.flex {
  padding: 0;
}

/* line 256, ../../../../Development/dev/sass/application.scss */
#addMediaButton {
  width: 100%;
}

/* line 260, ../../../../Development/dev/sass/application.scss */
#smallImage {
  max-width: 100%;
}

/* line 264, ../../../../Development/dev/sass/application.scss */
#map_canvas, #googleMap {
  width: 100%;
  height: 100%;
  display: block;
}

/* Create new user page */
/* line 276, ../../../../Development/dev/sass/application.scss */
#createUserForm input.error, #loginForm input.error {
  margin-bottom: 0;
}

/* Login page */
/* line 282, ../../../../Development/dev/sass/application.scss */
.error-box {
  background: #da5555;
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  color: #fff;
}

/* line 292, ../../../../Development/dev/sass/application.scss */
.error-box.hide {
  display: none;
}

/* line 295, ../../../../Development/dev/sass/application.scss */
.error-box.show {
  display: block;
}

/* line 300, ../../../../Development/dev/sass/application.scss */
#FBloginButton {
  margin-bottom: 10px;
}

/**
* Pageslider
*/
/* line 307, ../../../../Development/dev/sass/application.scss */
#container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 314, ../../../../Development/dev/sass/application.scss */
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 324, ../../../../Development/dev/sass/application.scss */
.page.page-left {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 329, ../../../../Development/dev/sass/application.scss */
.page.page-center {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 334, ../../../../Development/dev/sass/application.scss */
.page.page-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/* line 339, ../../../../Development/dev/sass/application.scss */
.page.transition {
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}

/**
* Backbone autocomplete
*/
/* line 348, ../../../../Development/dev/sass/application.scss */
ul.autocomplete {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  margin: 0;
  padding: 3px 0;
  width: 100% !important;
  z-index: 1000;
}

/* line 358, ../../../../Development/dev/sass/application.scss */
ul.autocomplete li {
  list-style: none;
  margin: 0;
  padding: 5px 7px;
}

/* line 364, ../../../../Development/dev/sass/application.scss */
ul.autocomplete li.active, ul.autocomplete li:hover {
  cursor: pointer;
  background-color: #d3d3d3;
}

/* line 369, ../../../../Development/dev/sass/application.scss */
ul.autocomplete li a {
  color: #3d3d3d;
  text-decoration: none;
}

/* line 375, ../../../../Development/dev/sass/application.scss */
.align-center {
  text-align: center;
}

/* line 381, ../../../../Development/dev/sass/application.scss */
.field > span {
  display: block;
  overflow: hidden;
  padding-right: 10px;
}

/* line 386, ../../../../Development/dev/sass/application.scss */
.field input[type=text] {
  width: 100%;
}

/* line 389, ../../../../Development/dev/sass/application.scss */
.field input[type=button] {
  float: right;
}

/* line 393, ../../../../Development/dev/sass/application.scss */
.message {
  margin: 0 0 15px 0;
}
/* line 397, ../../../../Development/dev/sass/application.scss */
.message .messageHeader {
  display: block;
}
/* line 401, ../../../../Development/dev/sass/application.scss */
.message .messageHeader img, .message .messageHeader h3 {
  float: left;
}
/* line 405, ../../../../Development/dev/sass/application.scss */
.message .messageHeader h3 {
  font-size: 1.2em;
}
/* line 409, ../../../../Development/dev/sass/application.scss */
.message .messageHeader img {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 418, ../../../../Development/dev/sass/application.scss */
.message .messageBody {
  clear: both;
}

/* line 426, ../../../../Development/dev/sass/application.scss */
#challengeView .badge_img {
  float: left;
  display: inline-block;
  margin-right: 5px;
}
/* line 432, ../../../../Development/dev/sass/application.scss */
#challengeView .cl-table-cell {
  padding: 10px 5px;
}
/* line 435, ../../../../Development/dev/sass/application.scss */
#challengeView .cl-table-cell a {
  min-height: 20px;
  vertical-align: center;
}
/* line 441, ../../../../Development/dev/sass/application.scss */
#challengeView .cl-btn {
  display: inline-block;
  width: auto;
  float: right;
  position: absolute;
  right: 5px;
  top: 5px;
}
/* line 450, ../../../../Development/dev/sass/application.scss */
#challengeView h3 {
  display: inline-block;
  font-size: 1.3em;
  margin-bottom: 5px;
}
/* line 456, ../../../../Development/dev/sass/application.scss */
#challengeView #progressContainer {
  width: 100%;
  display: block;
  padding: 10px 0;
}
/* line 461, ../../../../Development/dev/sass/application.scss */
#challengeView #progressContainer progress {
  width: 100%;
}
/* line 467, ../../../../Development/dev/sass/application.scss */
#challengeView #badgesOverview .cl-table-cell {
  width: auto;
  float: left;
}
/* line 471, ../../../../Development/dev/sass/application.scss */
#challengeView #badgesOverview .cl-table-cell .badge_img {
  float: left;
  display: inline-block;
}

/* line 481, ../../../../Development/dev/sass/application.scss */
#friendsListView div {
  float: left;
}
/* line 485, ../../../../Development/dev/sass/application.scss */
#friendsListView div, #friendsListView .friendsBox {
  display: inline-block;
}

/* Page specific */
/* line 494, ../../../../Development/dev/sass/application.scss */
#dashboard #sortBar {
  background: #8d7069;
}
/* line 498, ../../../../Development/dev/sass/application.scss */
#dashboard #map_canvas {
  height: 140px;
}

/* line 504, ../../../../Development/dev/sass/application.scss */
#waarContent #map_canvas {
  height: 400px;
}

/* line 511, ../../../../Development/dev/sass/application.scss */
#navigationView #map_canvas {
  height: 50%;
}
/* line 515, ../../../../Development/dev/sass/application.scss */
#navigationView #directions {
  height: 50%;
}

/* line 520, ../../../../Development/dev/sass/application.scss */
#favouriteSportList {
  display: table;
}
/* line 523, ../../../../Development/dev/sass/application.scss */
#favouriteSportList div {
  float: left;
  display: table-cell;
  vertical-align: middle;
}
/* line 528, ../../../../Development/dev/sass/application.scss */
#favouriteSportList div a {
  min-width: 70px;
  min-height: 70px;
  background: #d2d2d2;
  margin: 10px;
  padding: 5px;
  float: left;
  text-align: center;
  font-size: 12px;
}
/* line 539, ../../../../Development/dev/sass/application.scss */
#favouriteSportList div a.selected {
  background: #fff;
}

/* line 546, ../../../../Development/dev/sass/application.scss */
#favouriteSportsSelector #confirm {
  top: 0;
}
/* line 550, ../../../../Development/dev/sass/application.scss */
#favouriteSportsSelector ul.autocomplete {
  position: absolute;
}

/* line 557, ../../../../Development/dev/sass/application.scss */
#aanwezigContent div {
  float: left;
  margin-right: 5px;
}
/* line 562, ../../../../Development/dev/sass/application.scss */
#aanwezigContent .user_avatar {
  float: left;
  display: inline-block;
}
/* line 567, ../../../../Development/dev/sass/application.scss */
#aanwezigContent .user_avatar img {
  min-width: 50px;
  max-height: 50px;
}

/* line 577, ../../../../Development/dev/sass/application.scss */
#myInvitationsTable .cl-table-cell {
  padding: 10px 0;
}
/* line 581, ../../../../Development/dev/sass/application.scss */
#myInvitationsTable .cl-table-cell a {
  display: inline-block;
}
/* line 585, ../../../../Development/dev/sass/application.scss */
#myInvitationsTable .cl-btn-group.float {
  display: inline-block;
  float: right;
}

/* line 591, ../../../../Development/dev/sass/application.scss */
.planner-info {
  display: inline-block;
  float: right;
}
/* line 595, ../../../../Development/dev/sass/application.scss */
.planner-info li {
  font-size: 12px;
  float: left;
  display: inline-block;
  background: #f2f2f2;
}

/* line 603, ../../../../Development/dev/sass/application.scss */
#userAvatar, .friend-avatar {
  max-width: 160px;
  max-height: 160px;
}

/*
* Final styling 
*/
/* line 615, ../../../../Development/dev/sass/application.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 619, ../../../../Development/dev/sass/application.scss */
input.error {
  border: 1px solid #e54c2e !important;
}

/**
* HOME and CREATEUSER page
*/
/* line 628, ../../../../Development/dev/sass/application.scss */
#home, #createUser {
  background: #303d4d url("../../common/img/home_background.png") top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
/* line 638, ../../../../Development/dev/sass/application.scss */
#home .cl-btn, #home .cl-btn-primary, #createUser .cl-btn, #createUser .cl-btn-primary {
  border-radius: 0;
  padding: 7px 0;
}
/* line 643, ../../../../Development/dev/sass/application.scss */
#home #FBloginButton.cl-btn-primary, #home #createUserButton, #createUser #FBloginButton.cl-btn-primary, #createUser #createUserButton {
  border: 0;
  background-color: #4573dd;
  /* layer fill content */
  -moz-box-shadow: 0 5px 10px rgba(16, 40, 90, 0.6), inset 0 1px 1px rgba(255, 255, 255, 0.6);
  /* drop shadow and inner shadow */
  -webkit-box-shadow: 0 5px 10px rgba(16, 40, 90, 0.6), inset 0 1px 1px rgba(255, 255, 255, 0.6);
  /* drop shadow and inner shadow */
  box-shadow: 0 5px 10px rgba(16, 40, 90, 0.6), inset 0 1px 1px rgba(255, 255, 255, 0.6);
  /* drop shadow and inner shadow */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDQiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
  /* gradient overlay */
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.04) 100%);
  /* gradient overlay */
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.04) 100%);
  /* gradient overlay */
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.04) 100%);
  /* gradient overlay */
  background-image: linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.04) 100%);
  /* gradient overlay */
}
/* line 656, ../../../../Development/dev/sass/application.scss */
#home .cl-btn, #createUser .cl-btn {
  border: 1px solid #fff;
  background: none;
  text-transform: uppercase;
}
/* line 661, ../../../../Development/dev/sass/application.scss */
#home .cl-btn-header, #createUser .cl-btn-header {
  border: 0;
  padding: 0;
}
/* line 666, ../../../../Development/dev/sass/application.scss */
#home .cl-content, #createUser .cl-content {
  background: none;
  height: 100%;
  width: 100%;
  overflow: auto;
}
/* line 672, ../../../../Development/dev/sass/application.scss */
#home .cl-content hr, #createUser .cl-content hr {
  color: #FF0000;
  border: none;
  border-top: 1px solid #67737d;
  height: 1px;
}
/* line 679, ../../../../Development/dev/sass/application.scss */
#home .cl-content #loginBox, #createUser .cl-content #loginBox {
  height: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: .93;
  /* layer alpha */
  background-color: #2f3d4d;
  /* color overlay */
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.07);
  /* inner glow */
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.07);
  /* inner glow */
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.07);
  /* inner glow */
}
/* line 691, ../../../../Development/dev/sass/application.scss */
#home .cl-content h4, #createUser .cl-content h4 {
  color: #fff;
  font-family: "bitteritalic";
  padding: 10px 0;
}
/* line 697, ../../../../Development/dev/sass/application.scss */
#home .cl-content #home_logo, #createUser .cl-content #home_logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}
/* line 704, ../../../../Development/dev/sass/application.scss */
#home .cl-content input[type=email], #home .cl-content input[type=password], #home .cl-content input[type=text], #createUser .cl-content input[type=email], #createUser .cl-content input[type=password], #createUser .cl-content input[type=text] {
  background: none;
  border: none;
  color: #fff;
  padding: 20px 0 20px 10px;
  font-size: 1.1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  outline: none;
  margin: 0;
}
/* line 715, ../../../../Development/dev/sass/application.scss */
#home .cl-content input[type=email], #createUser .cl-content input[type=email] {
  padding-left: 34px;
  background: url("assets/mail-icon@x2.png") no-repeat 10px 15px/15px 12px;
}
/* line 720, ../../../../Development/dev/sass/application.scss */
#home .cl-content input[type=password], #createUser .cl-content input[type=password] {
  padding-left: 34px;
  background: url("assets/lock-icon@x2.png") no-repeat 10px 12px/12px 16px;
}
/* line 725, ../../../../Development/dev/sass/application.scss */
#home .cl-content #nameInput, #createUser .cl-content #nameInput {
  padding-left: 34px;
  background: url("assets/speech-icon@x2.png") no-repeat 10px 12px/15px 15px;
}
/* line 730, ../../../../Development/dev/sass/application.scss */
#home .cl-content #loginFormSubmit, #createUser .cl-content #loginFormSubmit {
  margin-top: 10px;
  opacity: .93;
  /* layer alpha */
  background-color: #2f3d4d;
  /* color overlay */
}
/* line 735, ../../../../Development/dev/sass/application.scss */
#home .cl-content #loginFormSubmit:active, #createUser .cl-content #loginFormSubmit:active {
  background-color: #fff;
  color: #2f3d4d;
}

/* line 743, ../../../../Development/dev/sass/application.scss */
#createUser {
  background: #2f404b;
}
/* line 748, ../../../../Development/dev/sass/application.scss */
#createUser .cl-content {
  height: calc(100% - 148px);
}
/* line 752, ../../../../Development/dev/sass/application.scss */
#createUser .button-container {
  padding: 0 10px;
}
/* line 756, ../../../../Development/dev/sass/application.scss */
#createUser .cl-message {
  padding: 10px;
  background-color: #fef5e4;
  line-height: 1.6em;
}
/* line 762, ../../../../Development/dev/sass/application.scss */
#createUser .cl-form {
  position: relative;
}
/* line 765, ../../../../Development/dev/sass/application.scss */
#createUser .cl-form .radio-list {
  padding-left: 34px;
  background: url("assets/name-icon@x2.png") no-repeat 10px 12px/15px 15px;
}
/* line 770, ../../../../Development/dev/sass/application.scss */
#createUser .cl-form .radio-list label {
  background: none;
  border: none;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
  border-radius: 3px;
}
/* line 779, ../../../../Development/dev/sass/application.scss */
#createUser .cl-form .radio-list label.checked {
  background: #23cddd;
  border: none;
  color: #fff;
}
/* line 786, ../../../../Development/dev/sass/application.scss */
#createUser .button-container {
  padding: 10px;
  background: #23272d;
}

/**
* Loading
*/
/* line 796, ../../../../Development/dev/sass/application.scss */
#loading {
  background: #303d4d url("../../common/img/loading_background.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
/* line 804, ../../../../Development/dev/sass/application.scss */
#loading h2 {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-top: 20px;
  vertical-align: middle;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  display: inline-block;
}
/* line 815, ../../../../Development/dev/sass/application.scss */
#loading h2 small {
  font-size: 14px;
  margin-top: 10px;
  display: block;
}
