<div id="watContent">
	<!-- General form -->
	<form action="javascript:;" id="watForm">
		<div class="cl-form padded">
			<input type="text" name="sport" placeholder="Sport" id="sportInput" required/>
			<input type="date" name="datum" placeholder="Datum" id="wanneerInput" required/>
			<input type="time" name="uur" placeholder="Uur" id="timeInput" required/>
			<input type="text" name="titlel" placeholder="Titel" id="titelInput" required/>
			<textarea rows="4" name="omschrijving" placeholder="Omschrijving" id="omschrijvingInput"></textarea>
		</div>

		<div class="cl-bar-footer">
			<input type="submit" class="cl-btn align-center" value="Volgende"/>
		</div>
	</form>
</div>