<div id="waarContent">
    <!-- Google Maps -->
   	<form action="javascript:;" id="waarForm">
	    <div class="cl-form padded">
			<input type="text" placeholder="Locatie" required id="locationInput"/>
			<div id="map_canvas">
				maps goes here
			</div>
    	</div>

    	<div class="cl-bar-footer">
    		<a href="#" class="cl-btn cl-btn-icon-only"><i class="icon icon-app-add"></i></a>
    		<input type="submit" class="cl-btn align-center" value="Volgende"/>
    		<a href="#" class="cl-btn cl-btn-icon-only align-right"><i class="icon icon-app-list"></i></a>
    	</div>
    </form>
</div>











