<div class="cl-page">
  <div class="cl-bar-title">
      <a href="#profile" class="cl-btn" data-transition="slide-out">
        <i class="entypo-icon">&#59237;</i>
      </a>
    <div class="cl-title">Instellingen</div>
  </div>
  <div class="cl-content">
  	<form>

  		<div class="cl-form">

  		<h3>Zichtbaar</h3>
			<div class="radio-list">
		     	<label for="demo-radios-1" class="checked">
		        <input type="radio" id="demo-radios-1" name="demo-radios" checked=""> Zichtbaar</label>
		        <label for="demo-radios-2" class="">
		        <input type="radio" id="demo-radios-2" name="demo-radios"> Onzichtbaar</label>
	      	</div>
	    </div>
      <h3>Avatar</h3>
      <img src="<%= user.avatar %>" alt="" id="userAvatar"/>
      <a href="javascript:;" class="cl-btn hide" id="changeAvatar">Change avatar</a>

      <a href="javascript:;" id="signOutButton" class="cl-btn">Afmelden</a>
  	</form>
  </div>
</div>

