<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>RMD2 - Week 12 - labo</title>
    <link href="css/screen.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/vendor/modernizr.js"></script>
</head>
<body>